body{
  font-size: 12pt;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*
.definition[name]::before {
  content: "Theorem (" attr(name) ") ";
}
*/

.definition {
  background-color: rgb(224,255,255);
  /*box-shadow: 5px 10px 8px #888888;*/
}


.theorem {
  background-color: rgb(232, 232, 232);
  /*box-shadow: 5px 10px 8px #888888;*/
}

.math-left-align .mjx-chtml.MJXc-display{
    text-align: left !important;
 }


/*
.theorem {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(222,222,231);
  box-shadow: 5px 10px 8px #888888;
}


.theorem::before {
  content: "";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
}


.theorem p {
  padding: 15px 15px 15px 15px;
}
*/

/*
.theorem {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
}
.theorem::before {
  content: "Theorem. ";
  font-weight: bold;
  font-style: normal;
}
.theorem[text]::before {
  content: "Theorem (" attr(text) ") ";
}
.theorem p {
  display: inline;
}
*/